/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Navbar background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Left side of the navbar (logo or website name) */
.navbar-left {
  display: flex;
  align-items: center;
  font-size: 24px; /* Adjust font size as needed */
  cursor: pointer;
}

/* Right side of the navbar (login button and profile picture) */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Login button styles */
.login-button {
  font-size: 18px;
  background: none; /* Remove background */
  border: none; /* Remove border */
  padding: 0;
  color: white; /* Text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  margin-right: 10px; /* Add some spacing between the button and the profile picture */
  cursor: pointer;
}

/* Profile picture styles */
.profile-picture {
  width: 40px; /* Adjust the image size as needed */
  height: 40px; /* Adjust the image size as needed */
  border-radius: 50%; /* Create a circular shape for the image */
  overflow: hidden; /* Hide any overflowing parts of the image */
}

/* Profile image styles */
.profile-image {
  width: 100%; /* Ensure the image covers the entire container */
  height: 100%; /* Ensure the image covers the entire container */
  object-fit: cover; /* Maintain aspect ratio and crop if necessary */
  cursor: pointer; /* Add a pointer cursor for clickability */
}

.logo-div {
  width: 40px; /* Adjust the image size as needed */
  height: 40px; /* Adjust the image size as needed */
  overflow: hidden; /* Hide any overflowing parts of the image */
  margin-right: 20px;
}

.logo {
  width: 100%; /* Ensure the image covers the entire container */
  height: 100%; /* Ensure the image covers the entire container */
  object-fit: cover; /* Maintain aspect ratio and crop if necessary */
}
